asgiref==3.7.2
dj-database-url==2.1.0
Django==3.2.23
django-cors-headers==4.1.0
djangorestframework==3.14.0
gunicorn==21.2.0
packaging==23.2
psycopg2-binary==2.9.9
PyJWT==2.8.0
pytz==2023.3.post1
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
django-debug-toolbar==3.8.1
Pillow==9.5.0
psycopg2==2.9.9
django-storages==1.9.1
google-cloud-storage==1.30.0


